body {
  background-color: rgb(25, 36, 58);
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: rgb(25, 36, 58);
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h1 {
  margin-top: 35px;
}

h4 {
  margin-top: 0px;
}

button {
  border: 0px;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px white;
  font-size: 20px;
  margin: 20px;
  width: 150px;
}

.bottom {
  margin-top: 30px;
}

.topBtn {
  display: flex;
  justify-content: center;
}

.botBtn {
  display: flex;
  justify-content: center;
}
